<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
stats/<key>Name</key>
stats/<string>Remote</string>
stats/<key>Widgets</key>
stats/<array/>
stats/<key>State</key>
stats/<true/>
</dict>
</plist>
